Repository iiroj/iiro.fi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --ext .js,.jsx --",
  "*.{ts,tsx}": "eslint --ext .ts,.tsx --"
}

fix: restore LiveReload with explicit port
  app/root.tsx
  remix.config.js
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

chore(release): 25.0.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  9d1c025ce705ccc000a94e532fc2d6e8609954ce
Due: none

perf: use createRequestHandler directly from @remix-run/cloudflare instead of cloudflare-workers
  server/index.ts
Due: eslint --ext .ts,.tsx --

chore(deps): update dependencies
  package-lock.json
  package.json
Due: none

chore(release): 25.0.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  63cdfe9796615f180c77d404d3e25cc5d3332f50
Due: none

fix(deps): update all dependencies
  package-lock.json
  package.json
Due: none

chore(release): 25.0.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  562c2dfeebc936bb6e1708f069b72db5d95fa7ba
Due: none

fix(deps): update dependencies
  package-lock.json
  package.json
Due: none

build: target ESNext
  tsconfig.json
Due: none

chore(release): 25.0.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  3357694c54b7d3d9af27c7ab47be088454d9ae41
Due: none

feat: add Cloudflare analytics script
  app/root.tsx
  server/headers.ts
Due: eslint --ext .ts,.tsx --

refactor: load Cloudflare analytics token from ENV
  app/root.tsx
  env.d.ts
  wrangler.toml
Due: eslint --ext .ts,.tsx --

chore(release): 25.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d185a2ab491a374c4289c3a93058aab0091483b9
Due: none

fix(wrangler): publish to production env
  .github/workflows/release.yml
Due: none

chore(release): 25.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6d746c489b17c5b505f2e2ded3341c4175432d1c
Due: none

ci: update action version
  .github/workflows/push.yml
Due: none

fix: use correct format for CSP header
  server/headers.ts
Due: eslint --ext .ts,.tsx --

chore(release): 25.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  21ccf32bbbf6565d3284482319a1fd4a5d6c99cd
Due: none

fix(wrangler): set explicit production env name to match previous
  wrangler.toml
Due: none

chore(release): 25.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  ee57cca89043c916a0d430d6c246c44b43639e9c
Due: none

fix: definitely fix loading Cloudflare analytics script
  app/root.tsx
  server/headers.ts
Due: eslint --ext .ts,.tsx --

chore(release): 25.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  04e813a21b867c8e12b9208248e3e3884d53be39
Due: none

feat: use English version of company name
  app/routes/index.tsx
Due: eslint --ext .ts,.tsx --

chore(release): 25.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  7a193cb365f92707264f972f355ee6d955a0a732
Due: none

feat: use V2 meta
  app/root.tsx
  app/routes/$.tsx
  app/routes/index.tsx
  remix.config.js
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

feat: use V2 route naming
  app/routes/_index.tsx
  remix.config.js
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

refactor: extract Page component
  app/components/Page.tsx
  app/routes/$.tsx
  app/routes/_index.tsx
Due: eslint --ext .ts,.tsx --
