Repository iiroj/iiro.fi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --ext .js,.jsx --",
  "*.{ts,tsx}": "eslint --ext .ts,.tsx --"
}

perf: disable JS in production
  app/root.tsx
Due: eslint --ext .ts,.tsx --

chore(release): 25.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  172117f89201ebe688ff1e802216f4abff92b55a
Due: none

perf: support only last 2 versions in browserslistrc
  .browserslistrc
Due: none

chore(release): 25.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  630b4c371d9ca1e32c7547f4992e77e015208915
Due: none

fix: remove console.log
  app/root.tsx
  package.json
  wrangler.toml
Due: eslint --ext .ts,.tsx --

chore(release): 25.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  696a3659cf5d1a91bdf5c4287ec65d2a12f67c8a
Due: none

fix(cloudflare): remove compatibility flag
  wrangler.toml
Due: none

chore(release): 25.3.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  b39603b6f2cff6380d6ea602f70c173eafe64588
Due: none

feat: use ESM module workers
  app/entry.server.tsx
  app/root.tsx
  app/routes/$.tsx
  app/routes/_index.tsx
  env.d.ts
  package-lock.json
  package.json
  remix.config.js
  server/index.ts
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

refactor: rename directory to worker/
  remix.config.js
  worker/headers.ts
  worker/index.ts
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

fix: make config files ESM compatible
  .lintstagedrc.json
  .releaserc.cjs
Due: none

chore(release): 25.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d5d8a9de403d408725e1ae42f842f74a870b6709
Due: none

Revert "refactor: rename directory to worker/"
  remix.config.js
  server/headers.ts
  server/index.ts
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

Revert "feat: use ESM module workers"
  app/entry.server.tsx
  app/root.tsx
  app/routes/$.tsx
  app/routes/_index.tsx
  env.d.ts
  package-lock.json
  package.json
  remix.config.js
  server/index.ts
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

chore(release): 25.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  9a7ff02b3df18fc7ec1376718ebab444718784fa
Due: none

fix(deps): update to wrangler 2
  package-lock.json
  package.json
Due: none

feat!: remove Remix and just serve static HTML files from Cloudflare Worker
  .eslintignore
  .eslintrc.json
  .gitignore
  app/components/Page.tsx
  app/entry.client.tsx
  app/entry.server.tsx
  app/root.tsx
  app/routes/$.tsx
  app/routes/_index.tsx
  build.js
  env.d.ts
  package-lock.json
  package.json
  public/404.html
  public/index.html
  public/styles.css
  remix.config.js
  server/index.ts
  tsconfig.json
  worker/headers.ts
  worker/index.ts
  wrangler.toml
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

chore(release): 26.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  87035daec9ebba4b6e98432e8605b1a6e827780e
Due: none

build: do not deploy workers.dev address
  .github/workflows/release.yml
  wrangler.toml
Due: none

style: replace ESLint+prettier with Rome
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  .releaserc.cjs
  build.js
  env.d.ts
  package-lock.json
  package.json
  rome.json
  worker/headers.ts
  worker/index.ts
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

fix: always add CSP headers
  package.json
  worker/headers.ts
Due: eslint --ext .ts,.tsx --

chore(release): 26.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  ba883a415114d9c0afee2992d09613c53e64b148
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: none

feat: respond with plaintext (markdown) when text/html is not accepted
  public/404.md
  public/index.md
  worker/headers.ts
  worker/index.ts
Due: eslint --ext .ts,.tsx --

chore(release): 26.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  327c2058edda45b61a6e4a82c7a482d3975b5192
Due: none

fix: return HTML instead of Markdown when all text types are accepted
  worker/index.ts
Due: eslint --ext .ts,.tsx --

chore(release): 26.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  af2de18c72a26d2d016466c6dc76f9e30445aaa1
Due: none

feat: deploy to Cloudflare Pages instead of Workers
  .github/workflows/release.yml
  env.d.ts
  functions/_middleware.ts
  package-lock.json
  package.json
  tsconfig.json
  wrangler.toml
Due: eslint --ext .ts,.tsx --

fix: add SRI hash to CSS file
  public/404.html
  public/index.html
Due: none

chore: remove unused Workers files
  worker/headers.ts
  worker/index.ts
Due: eslint --ext .ts,.tsx --
