Repository iiroj/iiro.fi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --ext .js,.jsx --",
  "*.{ts,tsx}": "eslint --ext .ts,.tsx --"
}

chore(release): 24.1.12
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Revert "test: add static html file without extension"
  site/next/headers.js
  site/public/test
Due: eslint --ext .js,.jsx --

Revert "test: add rewrite to static file"
  site/next.config.js
Due: eslint --ext .js,.jsx --

chore(release): 24.1.13
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: adjust @sls-next/component settings
  serverless.yml
Due: none

chore(release): 24.1.14
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Revert "build: adjust @sls-next/component settings"
  serverless.yml
Due: none

chore(release): 24.1.15
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: flatten site/ directory to root
  .browserslistrc
  .eslintrc.json
  .github/workflows/main.yml
  next-env.d.ts
  next.config.js
  next/headers.js
  package-lock.json
  package.json
  public/favicon.ico
  public/icon-192.png
  public/icon-192.webp
  public/icon-512.png
  public/icon-512.webp
  public/icon.svg
  public/site.webmanifest
  site/.eslintrc.json
  site/package.json
  src/components/Globals.tsx
  src/components/LinkButton.tsx
  src/components/Main.ts
  src/components/Text.ts
  src/components/Ul.ts
  src/constants/fonts.ts
  src/constants/microdata.json
  src/design/breakpoint.ts
  src/design/colors.ts
  src/design/scale.ts
  src/design/spacing.ts
  src/design/transition.ts
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  tsconfig.json
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

chore(release): 24.1.16
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: fix leftovers
  package.json
  serverless.yml
Due: none

chore(release): 24.1.17
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(deps): update dependencies
  next.config.js
  package-lock.json
  package.json
Due: eslint --ext .js,.jsx --

build: build with Babel to get smaller bundle
  .babelrc
  .browserslistrc
  next.config.js
  package-lock.json
  package.json
Due: eslint --ext .js,.jsx --

chore(release): 24.1.18
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: none

chore(release): 24.1.19
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: add Vercel Analytics to CSP
  next/headers.js
Due: eslint --ext .js,.jsx --

chore(release): 24.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: deploy to Vercel instead of AWS (serverless)
  .github/workflows/main.yml
  next.config.js
  package-lock.json
  package.json
  serverless.yml
Due: eslint --ext .js,.jsx --

chore(release): 24.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: update React 18, other dependencies
  .eslintrc.json
  next.config.js
  package-lock.json
  package.json
Due: eslint --ext .js,.jsx --

chore(release): 24.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: move html lang to _app
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: eslint --ext .ts,.tsx --

build: remove babel
  .babelrc
  package-lock.json
  package.json
Due: none

chore: remove memo usage
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --ext .ts,.tsx --

chore(release): 24.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: add ignored build step script for Vercel
  .vercel/ignored-build-step.sh
Due: none

build: disable Vercel GitHub automation
  .gitignore
  .vercel/ignored-build-step.sh
  vercel.json
Due: none

ci: add GitHub Action for Vercel prod deployment
  .github/workflows/tags.yml
Due: none

ci: build before deploying
  .github/workflows/tags.yml
Due: none

ci: add vercel as dev dependency
  package-lock.json
  package.json
Due: none

ci: more strict tag format
  .github/workflows/tags.yml
Due: none

chore(release): 24.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: disable Next.js telemetry
  .github/workflows/tags.yml
Due: none

build: regenerate package-lock.json
  package-lock.json
Due: none

chore(release): 24.3.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update .gitignore
  .gitignore
Due: none

ci: separate push and tag actions
  .github/workflows/pushes.yml
  next.config.js
Due: eslint --ext .js,.jsx --

ci: install react-is
  package-lock.json
  package.json
Due: none
