Repository iiroj/iiro.fi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --ext .js,.jsx --",
  "*.{ts,tsx}": "eslint --ext .ts,.tsx --"
}

chore(release): 24.3.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: use correct job name in needs
  .github/workflows/pushes.yml
Due: none

chore(release): 24.3.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: add cache for Next.js build
  .github/workflows/pushes.yml
  .github/workflows/tags.yml
Due: none

fix: run semantic-release on main branch
  .github/workflows/pushes.yml
Due: none

build: add semantic-release config
  .releaserc.js
  package-lock.json
  package.json
Due: eslint --ext .js,.jsx --

Notes added by 'git notes add'
  cb460bb8348dfcbd701f50222ec7575906fab10f
Due: none

fix: add @semantic-release/changelog
  .releaserc.js
  package-lock.json
  package.json
Due: eslint --ext .js,.jsx --

Notes added by 'git notes add'
  a10d343754795c3db094b3c074738b3b1dbe4456
Due: none

fix: commit versioned files
  .releaserc.js
Due: eslint --ext .js,.jsx --

chore(release): 24.3.8 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  42646cfc937c1fa3b1df8cb1eba5fc64ee18a261
Due: none

fix: bump package.json version number on release
  .releaserc.js
  package-lock.json
  package.json
Due: eslint --ext .js,.jsx --

fix: allow actions to run on release tag
  .github/workflows/pushes.yml
  .releaserc.js
Due: eslint --ext .js,.jsx --

Notes added by 'git notes add'
  caed73af5647d733d236aa871cafc9a69275212d
Due: none

chore: remove standard-version
  package-lock.json
  package.json
Due: none

chore(release): 24.3.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  b44427992537e6401a32cae2949c134a5ef161a8
Due: none

fix: create GitHub release
  .github/workflows/pushes.yml
  .releaserc.js
  package-lock.json
  package.json
Due: eslint --ext .js,.jsx --

chore(release): 24.3.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  fde4570dd5bc4c435aef4e45711019ec380fdc62
Due: none

fix: setup deployment environment
  .github/workflows/tags.yml
  next.config.js
  next/headers.js
Due: eslint --ext .js,.jsx --

chore(release): 24.3.11
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  f48c6b29e25f70f06a9381aa853a0ce8b8d6df98
Due: none

fix: attribute release commit to previous author
  .github/workflows/pushes.yml
Due: none

Notes added by 'git notes add'
  ce4287f3f18211638e65436be9f61bfce46b11a9
Due: none

chore(release): 24.3.12
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: simplify styles to remove styled-components
  next.config.js
  next/headers.js
  package-lock.json
  package.json
  src/components/Globals.tsx
  src/components/LinkButton.tsx
  src/components/Main.ts
  src/components/Text.ts
  src/components/Ul.ts
  src/constants/fonts.ts
  src/constants/microdata.json
  src/design/breakpoint.ts
  src/design/colors.ts
  src/design/scale.ts
  src/design/spacing.ts
  src/design/transition.ts
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles.css
  src/views/Index.tsx
  src/views/NotFound.tsx
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

chore(release): 24.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  ca7624402b17e571abf7380dc544804580efd5f9
Due: none

fix(deps): update dependencies
  package-lock.json
  package.json
Due: none

chore(release): 24.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c7ea482b397f3d4be6cd11f392e622f7fea81740
Due: none

Notes added by 'git notes add'
  71d1468e9451b4bdb4b2c192b23a598bcd641a68
Due: none

chore(release): 24.4.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 24.4.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  9b2f8b7b41862775d02414953fdc4f019e258458
Due: none

feat: update title
  src/views/Index.tsx
Due: eslint --ext .ts,.tsx --
