Repository iiroj/iiro.fi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

chore(release): 24.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e94aac17969ec9c1b8365c4c34e5a6f093cbcfd9
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: none

chore(deps): regenerate package-lock.json
  package-lock.json
Due: none

fix: update title
  src/views/Index.tsx
Due: eslint --ext .ts,.tsx --

chore(release): 24.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  93f5652389fab6fcb9467ad95aeaec8cf2df64e2
Due: none

fix(deps): update dependencies
  package-lock.json
  package.json
Due: none

chore(vercel): add explicit values to vercel.json
  vercel.json
Due: none

refactor(next): remove `_document.tsx`
  next.config.js
  next/headers.js
  src/pages/_document.tsx
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

refactor: remove LinkButton, use next/link directly
  src/components/LinkButton.tsx
  src/pages/_app.tsx
  src/views/Index.tsx
  src/views/NotFound.tsx
Due: eslint --ext .ts,.tsx --

fix(next): set runtime as "experimental-edge"
  next.config.js
Due: eslint --ext .js,.jsx --

Notes added by 'git notes add'
  b00b933fabda5df7bd9786cdab388699435b0a12
Due: none

chore(release): 24.5.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(deps): update all dependencies
  package-lock.json
  package.json
Due: none

chore(release): 24.5.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4b9be6fb33510cee494f7846de6c2d3991a19e9a
Due: none

refactor: load styles using static link tag
  public/styles.css
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: eslint --ext .ts,.tsx --

refactor: remove unnecessary i18n config
  next.config.js
Due: eslint --ext .js,.jsx --

build: enable .browserslistrc for SWC
  next.config.js
Due: eslint --ext .js,.jsx --

build: use git commit sha as build id in GitHub Actions
  next.config.js
Due: eslint --ext .js,.jsx --

fix: wrap 404 page link to footer and list
  src/views/NotFound.tsx
Due: eslint --ext .ts,.tsx --

chore(release): 24.5.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  763d474325f40f77b962e157e4897d5be8273239
Due: none

ci: ignore "Pushes" workflow on semver tags
  .github/workflows/pushes.yml
Due: none

ci: deploy prebuilt app to Vercel
  .github/workflows/tags.yml
Due: none

perf: add CSS styles as preload Link header
  next.config.js
Due: eslint --ext .js,.jsx --

chore(release): 24.5.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  3677a97fb7769338f9a350728a981bf49ee26748
Due: none

Revert "ci: ignore "Pushes" workflow on semver tags"
  .github/workflows/pushes.yml
Due: none

fix: pull Vercel info before building
  .github/workflows/tags.yml
Due: none

chore(release): 24.5.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c3b848cd00fe09ad9e21bd22a444c199d0d0c2fe
Due: none

fix: add token arg for Vercel config pull
  .github/workflows/tags.yml
Due: none

chore(release): 24.5.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e1423f0d99fb2c06c8d0273775fb2df9b7cafebd
Due: none

fix: set Vercel build to prod target
  .github/workflows/tags.yml
Due: none

chore(release): 24.5.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d3241ba3fcecc43e0cacc3327d92d3cfd645cfc1
Due: none

Path conditions:
  eslint --ext .js,.jsx --: any of: *.{js,jsx}
  eslint --ext .ts,.tsx --: any of: *.{ts,tsx}
