Repository iiroj/iiro.fi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --ext .js,.jsx --",
  "*.{ts,tsx}": "eslint --ext .ts,.tsx --"
}

chore(release): 23.10.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: use actions/setup-node@v2
  .github/workflows/main.yml
Due: none

build: regenerate package-lock.json
  package-lock.json
Due: none

chore(release): 23.10.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: use default config for vanilla-extract identifiers
  site/webpack.config.babel.ts
Due: eslint --ext .ts,.tsx --

fix: wrap negative rem spacing in template string
  site/src/routes/Root.css.ts
Due: eslint --ext .ts,.tsx --

chore(release): 23.10.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: remove tiny negative spacing altogether
  site/src/routes/Root.css.ts
Due: eslint --ext .ts,.tsx --

chore(release): 23.10.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: add SRI to style and script tags
  package-lock.json
  site/package.json
  site/server/renderer.tsx
  site/server/sri.tsx
  site/server/timeout.ts
  site/webpack.config.babel.ts
Due: eslint --ext .ts,.tsx --

refactor: clean up and isolate render logic
  site/server/reactRender.tsx
  site/server/renderer.tsx
  site/server/sri.tsx
  site/server/staticHead.tsx
Due: eslint --ext .ts,.tsx --

chore(release): 23.11.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: remove unused files
  site/server/timeout.ts
  site/server/writable.ts
Due: eslint --ext .ts,.tsx --

fix: use React.cloneElement instead of mutating props
  site/server/sri.tsx
Due: eslint --ext .ts,.tsx --

fix: add `defer` prop only to script elements
  site/server/sri.tsx
Due: eslint --ext .ts,.tsx --

perf: do not include script tags in production build
  site/server/renderer.tsx
Due: eslint --ext .ts,.tsx --

chore(release): 23.11.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
  site/package.json
  worker/package.json
Due: none

style: update ESLint setup
  .eslintrc.json
  site/.eslintrc.json
  site/client/index.tsx
  site/server/renderer.tsx
  site/server/routes.ts
  site/server/sri.tsx
  site/src/hocs/withRouter.tsx
  site/src/hooks/useRoute.ts
  site/src/hooks/useRouter.ts
  site/types/react-dom.d.ts
  site/webpack.config.babel.ts
  worker/.eslintrc.json
  worker/src/index.ts
Due: eslint --ext .ts,.tsx --

chore(release): 23.11.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: use react-router-dom
  package-lock.json
  site/client/index.tsx
  site/package.json
  site/server/renderer.tsx
  site/server/routes.ts
  site/server/sri.ts
  site/server/sri.tsx
  site/src/components/App.tsx
  site/src/components/Link.tsx
  site/src/components/LinkButton.tsx
  site/src/components/Router.tsx
  site/src/contexts/Router.ts
  site/src/hocs/withRouter.tsx
  site/src/hooks/useRoute.ts
  site/src/hooks/useRouter.ts
  site/src/routes.ts
  site/webpack.config.babel.ts
Due: eslint --ext .ts,.tsx --

chore(release): 23.12.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: simplify HMR setup because react-refresh breaks with react@experimental
  package-lock.json
  site/babel.config.cjs
  site/package.json
  site/server/renderer.tsx
  site/webpack.config.babel.ts
Due: eslint --ext .ts,.tsx --

style: fix ESLint errors
  site/server/sri.ts
  site/src/design/breakpoint.css.ts
Due: eslint --ext .ts,.tsx --

chore(release): 23.12.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 23.12.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: use esbuild through esbuild-loader in client-side build
  package-lock.json
  site/babel.config.cjs
  site/package.json
  site/webpack.config.babel.ts
Due: eslint --ext .ts,.tsx --

chore(release): 23.12.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: use native a tags instead of Link component on root page
  site/src/components/LinkButton.tsx
  site/src/routes/Root.tsx
Due: eslint --ext .ts,.tsx --

chore(release): 23.12.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat!: use Next.js and `@sls-next/serverless-component`
  .github/workflows/main.yml
  .gitignore
  package-lock.json
  package.json
  serverless.yml
  site/.eslintrc.json
  site/babel.config.cjs
  site/client/.eslintrc.json
  site/client/index.tsx
  site/next-env.d.ts
  site/next.config.js
  site/next/headers.js
  site/package.json
  site/server/reactRender.tsx
  site/server/renderer.tsx
  site/server/sri.ts
  site/server/staticHead.tsx
  site/src/components/App.tsx
  site/src/components/LinkButton.tsx
  site/src/index.tsx
  site/src/pageCss/_app.css.ts
  site/src/pageCss/index.css.ts
  site/src/pages/404.tsx
  site/src/pages/_app.tsx
  site/src/pages/index.tsx
  site/tsconfig.json
  site/types/react-dom.d.ts
  site/webpack.config.babel.ts
  worker/.cargo-ok
  worker/.eslintrc.json
  worker/package.json
  worker/src/index.ts
  worker/tsconfig.json
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --

chore(release): 24.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: fix build by including `@vanilla-extract/babel-plugin`
  package-lock.json
  package.json
  site/.babelrc.json
  site/package-lock.json
  site/package.json
Due: none

chore(release): 24.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: remove badges from README
  README.md
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
  site/package-lock.json
  site/package.json
Due: none

build: fix setup of `createVanillaExtractPlugin`
  site/next.config.js
Due: eslint --ext .js,.jsx --

chore(release): 24.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: really fix `vanilla-extract` CSS styles for real
  package-lock.json
  site/next.config.js
  site/package.json
  site/src/components/_app.css.ts
  site/src/components/index.css.ts
  site/src/pages/_app.tsx
  site/src/pages/index.tsx
Due: eslint --ext .js,.jsx --, eslint --ext .ts,.tsx --
